.advantageText{
    max-width: 167px;
}

.advantageBox{
    display: flex;
    align-items: center;
    gap: 20px;
}

.advantageImg{
    padding: 9px;
    border-radius: 50%;
    background-color: #CA0100;
}

@media screen and (min-width: 320px) and (max-width: 455px){
    .advantageText{
        font-size: 12px;
        max-width: 84px;
    }
}