.leftSide{
    display: flex;
}

.rightSide{
    display: flex;
}

.taxiHeader{
    display: flex;
    justify-content: space-between;
    padding: 150px 0 65px;
}

.taxiHeaderTitle{
    font-size: 40px;
    font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .leftSide,
    .rightSide{
        display: none !important;
    }

    .taxiHeader{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .taxiHeaderTitle{
        font-size: 30px;
        max-width: 285px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .leftSide,
    .rightSide{
        display: none !important;
    }

    .taxiHeader{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .taxiHeaderTitle{
        font-size: 30px;
        max-width: 285px;
    }
}