.advantegeSection{
    padding: 55px 0 52px;
    border-bottom: 1px solid #E1E1E1;
}

.title{
    font-size: 30px;
    font-weight: 700;
}

.itemContext{
    max-width: 150px;
    line-height: 24px;
    color: #737373;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    background: #F7F8F8;
    transition: all 0.3s linear;
}

.item:hover{
    transform: scale(1.05);
}

.gridBox{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

@media screen and (min-width: 320px) and (max-width: 450px){
    .gridBox{
        grid-template-columns: repeat(1, 1fr)
    }
    .title{
        text-align: center;
    }
    .item{
        min-height: 129px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .gridBox{
        grid-template-columns: repeat(2, 1fr)
    }
    .item{
        min-height: 129px;
    }
}