.taxiMainSection{
    background-image: url("../../images/taxi/backMain.png");
    background-size: cover;
    background-position: center center;
    max-width: 1870px;
    min-height: 600px;
    margin: 0 auto;
    padding-top: 30px;
    border-radius: 25px;
    position: relative;
    color: var(--root-color);
    z-index: -1;
}

.taxiTitle{
    margin-top: 67px;
    font-size: 60px;
    font-weight: 700;
}

.taxiMainSection::before{
    position: absolute;
    content: url("../../images/taxi/taxiCar.png");
    top: 135px;
    right: 0;
}

.acceptsBox{
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-gap: 20px;
}

.taxiSoloP{
    margin: 0 auto;
    padding: 47px 0 82px;
    line-height: 24px;
    text-align: center;
    max-width: 685px;
}

.advantageFirstRow{
    display: flex;
}

.advantageSecondRow{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.howMuchInTaxi{
    color: #fff;
    padding: 58px 0 50px 56px;
    background-color: var(--root-color);
    margin-bottom: 200px;
    border-radius: 25px;
    display: flex;
    position: relative;
}

.howMuchInTaxi::before{
    content: '';
    position: absolute;
    width: 857px;
    height: 428px;
    background-image: url("../../images/taxi/howNuchTaxi.png");
    left: -194px;
    bottom: -135px;
}

@media screen and (max-width: 1440px){
    .howMuchInTaxi::before{
        left: -140px;
    }
}

.howMuchInTaxiTitle{
    max-width: 446px;
    font-size: 40px;
    font-weight: 900;
    margin-right: 94px;
}

.propertiesBox{
    display: flex;
    gap: 38px;
}

@media screen and (min-width: 768px) and (max-width: 1000px){
    .taxiMainSection::before{
        content: url("../../images/taxi/taxiCarPhone.png");
        left: 65%;
        top: 280px
    }
    .taxiTitle{
        font-size: 40px;
        max-width: 70%;
        margin-top: 0;
    }
    .advantageText{
        font-size: 12px;
    }
    .acceptsBox{
        width: 100%;
        margin-top: 150px;
        display: grid;
        grid-template-columns: repeat(2, 200px);
    }
    .advantageFirstRow{
        display: flex;
        flex-direction: column;
    }
    .advantageSecondRow{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .howMuchInTaxi{
        padding: 10%;
        display: flex;
        flex-direction: column;
    }
    .howMuchInTaxiTitle{
        font-size: 24px;
        margin: 0;
        width: 100%;
    }
    .propertiesBox{
        display: flex;
        flex-direction: column;
    }
    .howMuchInTaxi::before{
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .taxiMainSection::before{
        content: url("../../images/taxi/taxiCarPhone.png");
        left: 26px;
        top: 170px
    }
    .taxiTitle{
        font-size: 24px;
        max-width: 250px;
        margin-top: 0;
    }
    .advantageText{
        font-size: 12px;
    }
    .acceptsBox{
        width: 100%;
        margin-top: 150px;
        display: flex;
        flex-wrap: wrap;
    }
    .advantageFirstRow{
        display: flex;
        flex-direction: column;
    }
    .advantageSecondRow{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .howMuchInTaxi{
        padding: 10%;
        display: flex;
        flex-direction: column;
    }
    .howMuchInTaxiTitle{
        font-size: 24px;
        margin: 0;
        width: 100%;
    }
    .propertiesBox{
        display: flex;
        flex-direction: column;
    }
    .howMuchInTaxi::before{
        display: none;
    }
}