.cardBox{
    padding: 30px 25px 25px;
    max-width: 446px;
    border-radius: 25px;
    box-shadow: 0 0 30px 0 rgba(133, 147, 159, 0.30);
    position: relative;
    transition: all 0.3s linear;
}

.cardBox:hover{
    transform: scale(1.1);
}
/*.cardBox:hover .carCards{*/
/*    color: #CA0100;*/
/*    background-color: #CA0100;*/
/*}*/

.cardBack{
    position: absolute;
    top: 33px;
    right: 0;
    z-index: -1;
}


.cardHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cardHeaderTitle{
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.cardHeaderLogos{
    display: flex;
    gap: 10px;
}

.cardHeaderLike,
.cardHeaderStats{
    width: 17px;
    height: 16px;
}

.offer{
    display: flex;
    gap: 15px;
}

.offerBackImgBox{
    position: relative;
    cursor: pointer;
}

.offerBackText{
    position: absolute;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    top: 5px;
    bottom: 6px;
    left: 15px;
}

.offerBenefit{
    color: #CA0100;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.giftBox{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 8px;
    background-color: #262626;
}

.equipmentTxt,
.inGift{
    font-size: 13px;
}

.inGift{
    color: #CA0100;
}

.equipmentBox{
    padding-top: 10px;
    display: flex;
    gap: 9px;
}

.carBack{
    position: absolute;
    top: 135px;
    right: 25px;
    z-index: 1;
}

.infoPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
    margin-top: 10px;
}

.price{
    font-size: 22px;
    font-weight: 700;
}

.credit{
    line-height: 14.5px;

}

.creditValue{
    font-weight: 700;
}

.StatsItem{
    min-width: 94px;
    border: 1px solid #C2C2C4;
    border-radius: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 7px 0 8px 10px;
}

.Stats{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 7px;
    margin-bottom: 19px;
}

.footerInfo{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}

.footerInfo1{
    /*position: absolute;*/

    /*z-index: 5;*/
    position: relative;
}

.box1{
    position: absolute;
    z-index: 10;
}

.box2{
    position: absolute;
    left: 105px;
    z-index: 5;
}

.box3{
    position: absolute;
    z-index: 3;
    left: 231px;
}

.footerInfo2{
    /*position: absolute;*/
    /*left: 105px;*/
    /*z-index: 3;*/
    position: relative;
}

.footerInfo3{
    /*position: absolute;*/
    /*left: 231px;*/
    /*z-index: 2;*/
    position: relative;
}

.footerInfoText1{
    position: absolute;
    color: #fff;
    left: 18px;
    top: 16px;
    font-size: 14px;
}

.footerInfoText2{
    position: absolute;
    color: #fff;
    left: 55px;
    top: 16px;
    font-size: 14px;
}

.footerInfoText3{
    position: absolute;
    color: #fff;
    left: 55px;
    top: 16px;
    font-size: 14px;
}

@media screen and (max-width: 325px){
    .cardBox{
        max-width: 300px;
    }
    .Stats{
        display: flex;
        flex-wrap: wrap;
    }
    .offer{
        margin-top: 160px;
    }
    .infoPrice{
        flex-direction: column;
    }

    .footerInfo{
        height: 160px;
        position: static;
    }
    .box1,
    .box2,
    .box3{
        margin-bottom: 10px;
        position: static;
    }
}

/*.cardBox:hover::after{*/
/*    animation-delay: 4s;*/
/*}*/

/*.cardBox:hover::before,*/
/*.cardBox:hover::after{*/
/*    position: absolute;*/
/*    content: '';*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    box-shadow: inset 0 0 0 2px green;*/
/*    border-radius: 25px;*/
/*    animation: round 8s linear infinite;*/
/*}*/

/*@keyframes round {*/
/*    0%, 100% {*/
/*        clip: rect(0, 490px, 0, 0);*/
/*    }*/
/*    25% {*/
/*        clip: rect(0, 0, 490px, 0);*/
/*    }*/
/*    50% {*/
/*        clip: rect(20px, 490px, 20px, 0);*/
/*    }*/
/*    75% {*/
/*        clip: rect(0, 490px, 20px, 0);*/
/*    }*/
/*}*/
/*@keyframes round {*/
/*    0%, 100% {*/
/*        clip: rect(0, 490px, 20px, 0);*/
/*    }*/
/*    25% {*/
/*        clip: rect(0, 20px, 490px, 0);*/
/*    }*/
/*    50% {*/
/*        clip: rect(20px, 470px, 470px, 20px);*/
/*    }*/
/*    75% {*/
/*        clip: rect(10px, 480px, 480px, 10px);*/
/*    }*/
/*}*/

/*.cardBox:hover .border{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 407px;*/
/*    width: 400px;*/
/*    display: block;*/
/*    background: conic-gradient(from var(--border-angle), #166FEE,*/
/*    hsla(200, 100%, 60%, 0),*/
/*    hsla(100, 100%, 60%, 0));*/
/*    animation: spin 4s infinite linear;*/
/*    transform: translate(-2px, -2px);*/
/*}*/

/*@property --border-angle{*/
/*    syntax: "<angle>";*/
/*    inherits: true;*/
/*    initial-value: 0turn;*/
/*}*/

/*@keyframes spin {*/
/*    from{*/
/*        --border-angle: 0turn;*/
/*    }*/

/*    to{*/
/*        --border-angle: 1turn;*/
/*    }*/
/*}*/