.carItem{
    display: flex;
    gap: 10px;
    align-items: center;
}

.carItemTitle{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    min-width: 90px;
    transition: all 0.3s linear;
}

.carItemTitle:hover{
    font-weight: 700;
    font-size: 18px;
}

.carItemImg{
    width: 38px;
    height: 38px;
}