.personalInfo{
    margin-top: 20px;
    height: 344px;
    border-radius: 25px;
    background-color: rgba(239, 240, 240, 0.5);
    padding: 45px 119px 52px;
    position: relative;
    display: flex;
    gap: 42px;
}

.personalInfo::before{
    position: absolute;
    color: #fff;
    content: '4';
    top: 44px;
    left: -18px;
    font-size: 24px;
    font-weight: 700;
    width: 38px;
    height: 38px;
    background-color: #CA0100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.personalInfoTitle{
    font-size: 30px;
    font-weight: 700;
}

.btnsBox{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 560px;
    gap: 10px;
}

.btnName,
.btnTel{
    padding: 0 18px;
    border-radius: 6px;
    border: 1px solid #E1E1E1;
    background: #FFF;
    width: 100%;
    height: 65px;
}

.personalInfoCopyright{
    margin-top: 16px;
    color: #737373;
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
    max-width: 470px;
}

.personalInfoCopyright span{
    text-decoration-line: underline;
}

.box1{
    width: 560px;
}

.box2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 4.7%;
}

.getBetterCondition{
    border: none;
    border-radius: 6px;
    background: #CA0100;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    height: 65px;
    transition: all 0.3s linear;
}

.getBetterCondition:hover{
    color: #CA0100;
    background: #fff;
    outline: 1px solid #CA0100;
}