.collectionDivBtn{
    display: flex;
    gap: 12px;
}

.collectionLeftBtn,
.collectionRightBtn{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.collectionLeftBtn{
    box-shadow: 0 0 30px 0 rgba(133, 147, 159, 0.30);
    background-color: #fff;
}

.collectionRightBtn{
    background-color: #CA0100;
    box-shadow: 0 0 8px 0 rgba(182, 182, 182, 0.25);
}

.collectionSlider{
    padding-bottom: 90px;
}

.sliderHeaderTitle{
    font-size: 40px;
    font-weight: 700;
}

.sliderHeaderAllCol{
    cursor: pointer;
    border: none;
    border-radius: 11px;
    background-color: #CA0100;
    color: #fff;
    padding: 6px 14px;
}

.sliderHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.sliderHeaderCollectionBox{
    display: flex;
    gap: 24px;
}

.colSliderText1,
.colSliderText2,
.colSliderText3 {
    max-width: 225px;
    /*position: absolute;*/
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    /*left: 33px;*/
    /*bottom: 23px;*/
}

.colSliderBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.colSlide1{
    background-image: url("../../../../images/page_1/main/CollectionSlider1.png");
    position: relative;
}

.animationBox{
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    transform: translate(-20%, -20%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.animationBox p{
    margin-top: 20px;
    color: #FFFFFF;
}

.animationBoxContent{
    display: flex;
    justify-content: space-between;
}

.colSlide1:hover .animationBox,
.colSlide2:hover .animationBox,
.colSlide3:hover .animationBox{
    opacity: 1;
    visibility: visible;
}

.colSlide1::before,
.colSlide2::before,
.colSlide3::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.colSlide1:hover::before,
.colSlide2:hover::before,
.colSlide3:hover::before{
    opacity: 1;
    visibility: visible;
}

.colSlide1:hover .animationBox,
.colSlide2:hover .animationBox,
.colSlide3:hover .animationBox {
    opacity: 1;
    visibility: visible;
    animation: slide-in 0.3s forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0);
    }
}

.colSlide2{
    background-image: url("../../../../images/page_1/main/CollectionSlider2.png");
    position: relative;
}



.colSlide3{
    background-image: url("../../../../images/page_1/main/CollectionSlider3.png");
    position: relative;
}

.colSlide1,
.colSlide2,
.colSlide3{
    background-repeat: no-repeat;
    height: 317px;
    position: relative;
}

.colSliderBtn{
    /*position: absolute;*/
    /*right: 28px;*/
    /*bottom: 25px;*/
    height: 31px !important;
    border-radius: 6px;
    background: #CA0100;
    border: none;
    color: #fff;
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 450px){
    .sliderHeaderCollectionBox{
        flex-direction: column;
    }
    .sliderHeader{
        flex-direction: column;
        gap: 20px;
    }
    .sliderHeaderTitle{
        font-size: 30px;
    }
    .sliderHeaderAllCol{
        width: 118px;
        font-size: 14px;
        padding: 7px 0;
    }
    .colSliderBox{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .colSlide1,
    .colSlide2,
    .colSlide3{
        width: 100%;
        border-radius: 25px;
    }
}