.ourPartnersTitle{
    color: #262626;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 45px;
}

.PartnersBox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 32px;
}

.PartnerItem{
    background-color: #EFF0F0;
    border-radius: 10px;
    width: 327px;
    height: 133px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.PartnerItem:hover{
    opacity: 0.5;
}

.PartnerImg{
    padding: 30px 62px;
}

.PartnerImgInd{
    padding: 52px 62px 53px;
}

@media screen and (min-width: 320px) and (max-width: 450px){
    .ourPartnersTitle{
        font-size: 30px;
        margin-bottom: 25px;
    }
    .PartnersBox{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .PartnerItem{
        position: relative;
        width: 140px;
        height: 57px;
    }
    .PartnerItem:first-child::before{
        position: absolute;
        content: url("../../../images/credit/smallAlpha.png");
        top: 10px;
        left: 19px;
    }
    .PartnerItem:nth-child(2)::before{
        position: absolute;
        content: url("../../../images/credit/smallBlueCard.png");
        top: 10px;
        left: 19px;
    }
    .PartnerItem:nth-child(3)::before{
        position: absolute;
        content: url("../../../images/credit/smallSovkomBank.png");
        top: 10px;
        left: 19px;
    }
    .PartnerItem:last-child::before{
        position: absolute;
        content: url("../../../images/credit/smallRosGosTrah.svg");
        top: 0;
        left: 0;
    }
    .PartnerImg{
        display: none;
    }
    .PartnerImgInd{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .PartnersBox{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .PartnerItem{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .PartnerImg{
        display: block;
    }
}

