.competitorsBox{
    background-image: url("../../../../images/page_1/main/backOffers.png");
    width: 100%;
    height: 328px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    margin-bottom: 79px;
}

.competitorsInteractiveBox{
    padding-top: 66px;
}

.competitorsInteractiveTitle{
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.competitorsInteractiveText{
    font-size: 20px;
    margin-bottom: 26px;
}

.competitorsInteractiveText span{
    color: #CA0100;
    font-size: 20px;
    font-weight: 700;
}

.competitorsBtnsInputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    margin-bottom: 22px;
}

.competitorsInput,
.competitorsBtn{
    border: none;
    border-radius: 6px;
    min-width: 369px;
}

.competitorsBtn{
    background-color: #CA0100;
    color: #fff;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s linear;
}

.competitorsBtn:hover{
    outline: 1px solid #CA0100;
    background-color: #fff;
    color: #CA0100;
}

.competitorsInput{
    padding: 25px 14px;
}

.competitorsInput::placeholder{
    font-size: 14px;
    color: #262626;
}

.competitorsCopyright{
    color: #737373;
    font-size: 13px;
    line-height: 130%;
}

.competitorsCopyright span{
    text-decoration: underline;
    line-height: 130%;
}

@media screen and (min-width: 320px) and (max-width: 450px) {
    .competitorsBox{
        flex-direction: column;
        height: auto;
        padding:  0 20px 30px;
        border-radius: 50px;
    }
    .competitorsPunch{
        margin-left: -20px;
    }
    .competitorsInteractiveBox{
        padding-top: 10px;
    }
    .competitorsInteractiveTitle{
        font-size: 24px;
        margin-bottom: 22px;
    }
    .competitorsInteractiveText{
        font-size: 16px;
    }
    .competitorsBtnsInputs{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .competitorsBtn,
    .competitorsInput{
        min-width: auto;
    }
    .competitorsBtn{
        padding: 20px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .competitorsBox{
        flex-direction: column;
        height: auto;
        padding:  0 20px 30px;
        border-radius: 65px;
    }
    .competitorsPunch{
        margin-left: -20px;
    }
    .competitorsInteractiveBox{
        padding-top: 10px;
    }
    .competitorsInteractiveTitle{
        font-size: 40px;
        margin-bottom: 22px;
    }
    .competitorsInteractiveText{
        font-size: 25px;
    }
    .competitorsBtnsInputs{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .competitorsBtn,
    .competitorsInput{
        min-width: auto;
    }
    .competitorsBtn{
        padding: 20px 0;
    }
    .competitorsCopyright{
        font-size: 15px;
    }
}
