.purchaseTermsSection{
    padding: 54px 0 84px;
    position: relative;
    display: flex;
    gap: 10%;
}

.purchaseTermsSection::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 174px;
    background: #E1E1E1;
    left: 65%;
    top: 70px;
}

.purchaseTermsTitle,
.necessaryDocTitle{
    font-size: 24px;
    font-weight: 700;
}

.purchaseTermsProperties{
    display: flex;
    align-items: center;
    gap: 20px;
}

.purchaseTermsBoxInside{
    margin-top: 30px;
    width: 880px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 17px;
}

.necessaryDocBox{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

@media screen and (min-width: 320px) and (max-width: 450px){
    .purchaseTermsSection{
        flex-direction: column;
        gap: 20px;
    }
    .purchaseTermsBoxInside{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}