.disposalMainBox{
    background-image: url("../../../src/images/disposal/backGround.png");
    background-size: cover;
    background-position: center center;
    max-width: 1870px;
    min-height: 600px;
    margin: 0 auto;
    color: #fff;
    padding-top: 30px;
    border-radius: 25px;
}