.basketBox{
    padding: 50px 0 0 0;
    display: flex;
    justify-content: center;
}

.btnsBox{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.plus,
.minus{
    cursor: pointer;
    color: white;
    border: none;
    padding: 10px 20px;
    background-color: #CA0100;
    border-radius: 50%;
}

.item{
    display: flex;
    justify-content: space-between;
}