.futureCarBox{
    margin-top: 36px;
    min-height: 372px;
    border-radius: 25px;
    background-color: rgba(239, 240, 240, 0.5);
    padding: 45px 119px 52px;
    position: relative;
}

.futureCarBox::before{
    position: absolute;
    color: #fff;
    content: '1';
    top: 44px;
    left: -18px;
    font-size: 24px;
    font-weight: 700;
    width: 38px;
    height: 38px;
    background-color: #CA0100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.futureCarTitle{
    color: #262626;
    font-size: 30px;
    font-weight: 700;
}

.futureCarBoxBtns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 13px;
}

.selectWrapper{
    width: 560px;
    height: 65px;
    position: relative;
}

.selectWrapper::before{
    position: absolute;
    content: '';
    top: 28px;
    right: 15px;
    width: 12px;
    height: 12px;
    background-image: url("../../../images/disposal/point.svg");
    pointer-events: none;
}

.futureCarMarks,
.futureCarModel,
.futureCarKomplect{
    width: 100%;
    height: 100%;
    padding-left: 15px;
    border-radius: 6px;
    appearance: none;
    cursor: pointer;
    border: 1px solid #E1E1E1;
}

select:focus{
    outline: none;
    box-shadow: 0 0 0 1px #CA0100, 0 0 10px #262626;
}

.selectBox{
    display: flex;
}

.selectBoxSecond {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.selectBoxSecond::before{
    content: '';
    position: absolute;
    width: 441px;
    height: 271px;
    background-image: url("../../../images/disposal/disposalCarBack.png");
    top: 0;
    left: 0;
}

.selectBoxSecondTitle{
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.priceWithSale{
    margin-top: 45px;
    color: #737373;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
}

.selectBoxSecondPrice{
    margin-top: 6px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

.basicPrice{
    margin-top: 27px;
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
}

.selectBoxSecondBasicPrice{
    margin-top: 6px;
    color: #737373;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.selectBoxSecondRedBox{
    background-color: #CA0100;
    border-radius: 11px;
    color: #fff;
    padding: 11px 10px 8px 13px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.selectBoxSecondRedBox p{
    font-size: 14px;
}

.selectBoxSecondRedBox span{
    margin-top: 6px;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
}


@media screen and (min-width: 320px) and (max-width: 450px){
    .futureCarBox::before{
        width: 27px;
        height: 27px;
        top: 14px;
        left: 19px;
    }
    .futureCarTitle{
        font-size: 20px;
        max-width: 216px;
        margin-left: 57px;
    }
    .futureCarBox{
        padding: 17px;
    }
    .selectBox{
        display: block;
    }
    .selectWrapper{
        width: 100%;
    }
    .selectBoxSecond{
        margin-top: 20px;
        display: block;
    }
    .selectBoxSecond::before{
        width: 250px;
        height: 155px;
        background-size: cover;
        top: 28px;
        left: 50%;
        transform: translate(-50%);
    }
    .priceWithSale{
        margin-top: 150px;
        text-align: center;
    }
    .selectBoxSecondPrice{
        display: block;
        text-align: center;
    }
    .basicPrice{
        text-align: center;
    }
    .selectBoxSecondBasicPrice{
        display: block;
        text-align: center;
    }
    .selectBoxSecondRedBox{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .futureCarBox::before{
        width: 27px;
        height: 27px;
        top: 14px;
        left: 19px;
    }
    .selectWrapper{
        margin-top: 0;
    }
    .futureCarTitle{
        font-size: 30px;
        margin-left: 57px;
    }
    .futureCarBox{
        padding: 17px;
    }
    .futureCarBoxBtns{
        flex-direction: row;
    }
    .selectBoxSecondTitle{
        text-align: center;
    }
    .selectBox{
        display: block;
    }
    .selectWrapper{
        width: 100%;
    }
    .selectBoxSecond{
        margin-top: 20px;
        display: block;
    }
    .selectBoxSecond::before{
        width: 360px;
        height: 182px;
        background-size: cover;
        top: -5px;
        left: 50%;
        transform: translate(-50%);
    }
    .priceWithSale{
        margin-top: 162px;
        font-size: 20px;
        text-align: center;
    }
    .selectBoxSecondPrice{
        display: block;
        text-align: center;
    }
    .basicPrice{
        text-align: center;
        font-size: 20px;
    }

    .selectBoxSecondBasicPrice{
        display: block;
        text-align: center;
    }
    .selectBoxSecondRedBox{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
}