.mainSliderCard{
    min-height: 600px;
    background-color: #EFF0F0;
    border-radius: 25px;
    background-image: url("../../../../images/page_1/main/sliderBack.png");
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}


.mainSliderCard:after{
    content: url("../../../../images/page_1/main/car1.png");
    position: absolute;
    right: 334px;
    top: 173px;
    z-index: 5;
}

.mainSliderCard:before{
    content: url("../../../../images/page_1/main/car2.png");
    position: absolute;
    right: 172px;
    top: 184px;
    z-index: 1;
}

.mainSliderAuto{
    position: absolute;
    top: 167px;
    right: 82px;
}

.sliderContainer{
    margin: 0 auto;
    max-width: 1810px;
}

.mainSliderRec{
    padding: 5px 11px 5px 13px;
    color: #fff;
    background-color: #CA0100;
    width: 208px;
    position: absolute;
    top: 81px;
    border-radius: 33px;
    font-weight: 700;
}

.mainSliderTitle{
    color: #262626;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 145px;
}

.mainSliderTEXT{
    color: #737373;
    font-size: 29px;
    position: absolute;
    top: 309px;
}

.mainSliderLeftBoxBTN,
.mainSliderRightBoxBTN{
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.mainSliderLeftBoxBTN{
    position: absolute;
    top: 50%;
    left: 50px;
}

.mainSliderRightBoxBTN{
    position: absolute;
    right: 50px;
    top: 50%;
}

@media screen and (min-width: 320px) and (max-width: 450px){
    .mainSliderRec{
        top: 24px;
    }
    .mainSliderTitle{
        font-size: 30px;
        top: 59px;
    }
    .mainSliderTEXT{
        font-size: 18px;
        top: 170px;
    }
    .mainSliderCard:after{
        content: '';
        background-image: url("../../../../images/page_1/main/car1.png");
        width: 250px;
        height: 130px;
        top: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        left: 0;
    }
    .mainSliderCard:before{
        content: '';
        background-image: url("../../../../images/page_1/main/car2.png");
        width: 160px;
        height: 90px;
        top: 390px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        left: 120px;
    }
    .mainSliderAuto{
        position: absolute;
        width: 110px;
        height: 65px;
        top: 385px;
        left: 190px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .mainSliderRec{
        top: 24px;
    }
    .mainSliderTitle{
        font-size: 40px;
        top: 59px;
    }
    .mainSliderTEXT{
        font-size: 30px;
        top: 170px;
    }
    .mainSliderCard:after{
        content: '';
        background-image: url("../../../../images/page_1/main/car1.png");
        width: 400px;
        height: 203px;
        top: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        left: 0;
    }
    .mainSliderCard:before{
        content: '';
        background-image: url("../../../../images/page_1/main/car2.png");
        width: 300px;
        height: 150px;
        top: 361px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        left: 147px;
    }
    .mainSliderAuto{
        position: absolute;
        width: 200px;
        height: 100px;
        top: 344px;
        left: 313px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1600px){
    .mainSliderTitle{
        top: 105px;
    }
    .mainSliderTEXT{
        top: 250px;
    }
}
