.creditBackgroundBox{
    background-image: url("../../../src/images/credit/1 50502083.png");
    background-size: cover;
    background-position: center center;
    max-width: 1870px;
    min-height: 600px;
    margin: 0 auto;
    color: #fff;
    padding-top: 30px;
    border-radius: 25px;
}

@media screen and (max-width: 1440px){
    .creditBackgroundBox{
        max-width: 1400px;
    }
}


.creditTitle{
    margin-top: 54px;
    font-size: 60px;
    font-weight: 700;
}

.creditTitleMore{
    margin-top: 16px;
    max-width: 510px;
}

.creditTitleMore h3{
    font-size: 20px;
    font-weight: 700;
}

@media screen and (min-width: 320px) and (max-width: 450px){
    .creditTitle{
        margin-top: 0;
        font-size: 24px;
    }
}

/*@media screen and (min-width: 320px) and (max-width: 450px){*/
/*    */
/*}*/