.participationBox{
    max-width: 1870px;
    min-height: 690px;
    background-image: url("../../../images/disposal/ConditionProga.jpeg");
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    padding-top: 68px;
    border-radius: 25px;
    position: relative;
    z-index: 4;
}

.participationBox::before{
    content: '';
    position: absolute;
    background-image: url("../../../images/disposal/greyCar.png");
    top: 96px;
    right: 195px;
    width: 722px;
    height: 406px;
    z-index: 5;
}

.participationBox::after{
    content: '';
    position: absolute;
    background-image: url("../../../images/disposal/redCar.png");
    top: 201px;
    right: 10px;
    width: 774px;
    height: 428px;
    z-index: 6;
}

.participationTitle{
    font-size: 60px;
    font-weight: 700;
    line-height: 100%;
}

.advantagesBox{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.itemMainBox{
    align-items: center;
    display: flex;
    gap: 30px;
}

.advantagesContextTitle{
    font-size: 30px;
    font-weight: 500;
}

.advantagesContextText{
    color: #595D60;
    max-width: 565px;
    margin-top: 19px;
    margin-left: 57px;
}