.installation{
    padding: 40px 0 64px;
}

.installationBox{
    display: flex;
    gap: 40px;
    border-radius: 11px;
    background-color: rgba(239, 240, 240, 0.5);
    padding: 20px 30px 22px;
}

/*.carColumn{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
.installationLinksAll{
    display: flex;
    flex-direction: column;
    width: 138px;
}


.installationCars{
    display: flex;
    gap: 30px;
    width: 100%;
}

.installationInput{
    max-width: 490px;
}

.autoSearch{
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 22px;
}

@media screen and (min-width: 320px) and (max-width: 450px){
    .installationBox{
        display: flex;
        flex-direction: column;
    }
    .installationCars{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .installationLinksAll{
        width: 100%;
    }
    .installationInput{
        max-width: 100%;
    }
    .autoSearch{
        font-size: 20px;
        text-align: center;
    }
}