.creditForm{
    border-radius: 25px;
    border: 1px solid #E1E1E1;
    background-color: #FFF;
    padding: 32px 42px 20px;
    display: flex;
    justify-content: space-between;
    margin-top: -82px;
}

.infoBox{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.creditFormTitle{
    color: #262626;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.date{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 167px;
    height: 26px;
    background-color: #CA0100;
    border-radius: 15px;
}

.inputBox{
    display: flex;
    gap: 24px;
}

.formInputGeneral{
    padding: 18px 17px;
    width: 320px;
    border-radius: 5px;
    border: 1px solid #E1E1E1;
    background-color: #EFF0F0;
    max-width: 320px;
    flex-shrink: 0;
    color: #262626;
    font-size: 14px;
    font-weight: 400;
}

.formInputGeneral::placeholder{
    height: 30px;
    color: #262626;
    font-size: 14px;
    font-weight: 400;
}

.formButton{
    cursor: pointer;
    border-radius: 6px;
    background-color: #CA0100;
    color: #fff;
    border: none;
    padding: 0 48px;
    height: 69px;
}

.formTextMoreInfo{
    color: #737373;
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
    margin-top: 10px;
}

.formTextMoreInfo span{
    text-decoration-line: underline;
}

@media screen and (min-width: 768px) and (max-width: 1000px){
    .creditForm {
        margin-top: -5px;
        display: flex;
        flex-wrap: wrap;
    }
    .formInputGeneral{
        width: 100% !important;
    }
    .inputBox{
        margin-top: 21px;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .creditForm {
        margin-top: -5px;
        display: flex;
        flex-wrap: wrap;
    }
    .formInputGeneral{
        width: 100% !important;
    }
    .inputBox{
        margin-top: 21px;
        flex-wrap: wrap;
    }
}