.footer{
    padding: 60px 0 73px;
}

.MoreInfo{
    color: #737373;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-decoration-line: underline;
}

.kito{
    font-size: 50px;
}

.footerListLinks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footerUnderLinks{
    display: flex;
}

.footerOffDiller{
    padding: 33px 0;
    background-color: #1B1B1B;
}

.footer-cont-diller{
    display: flex;
}

.footerDillerTXT{
    max-width: 613px;
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.footerOffDillerFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerBlogs{
    padding: 70px 0 90px;

}

@media (min-width: 320px) and (max-width: 1024px){
    .footerListLinks{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footerUnderLinks{
        display: flex;
        flex-direction: column;
    }
    .footerOffDillerFlex{
        flex-wrap: wrap;
    }
    .footerDillerTXT{
        margin: 15px 0;
    }
    .footerBlogs{
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .footerListLinks{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
    .footerListLinkItem1{
        grid-column: 1/3;
    }
}