.authTitle{
    text-align: center;
    color: #fff;
    font-size: 35.25px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 44.063px */
    letter-spacing: -1.41px;
    margin-bottom: 48px;
}

.MainAuthInner{
    max-width: 777px;
    margin: 5% auto;
    text-align: center;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*z-index: 2;*/
}

.google,
.apple{
    margin: 0 auto;
}

.authGoogle{
    padding: 23.01px 80.85px 16.36px 80.82px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 13.341px;
    cursor: pointer;
}

.authApple{
    padding: 15.56px 78.93px 17.79px 78.93px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 13.341px;
    cursor: pointer;
}

.authSites{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
    margin-bottom: 33px;
}

.or{
    color: rgba(0, 90, 100, 0.35);
    font-size: 20.011px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-bottom: 43px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.formName,
.formEmail,
.formPassword{
    width: 382px;
    height: 75px;
    border-radius: 14.275px;
    border: 1.668px solid #6C5FBC;
    position: relative;
    padding-left: 78px;
    padding-right: 55px;
    color: #6C5FBC;
    font-size: 16.676px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.334px;
    text-transform: capitalize;
}

.formNameBox{
    position: relative;
}

.formNameBtn,
.formEmailBtn,
.formPasswordBtn
{
    cursor: pointer;
    position: absolute;
    left: 24px;
    top: 27px;
    border: none;
    background-color: transparent;
}

.formName::placeholder,
.formEmail::placeholder{
    color: #6C5FBC;
    font-size: 16.676px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.334px;
    text-transform: capitalize;
}

.formNoseeBtn{
    cursor: pointer;
    position: absolute;
    right: 27px;
    top: 27px;
    border: none;
    background-color: transparent;
}

.signUp{
    width: 382.441px;
    height: 74.487px;
    border: none;
    border-radius: 15.564px;
    background-color: #6C5FBC;
    color: #F3F5F6;
    font-size: 17.788px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.534px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 14px;
}

.dopInfo{
    color: white;
    font-size: 18.9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.189px;
}

.dopInfo a{
    margin-left: 6px;
    color: #6C5FBC;
    font-size: 18.9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.189px;
}

.CarBox{
    margin: 25px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Pint1,
.Pint2{
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}

.PintTitle{
    transition: all 0.5s;
}

.PintTitle:hover{
    opacity: 0.8;
}

@media (max-width: 325px) {
    .formNameBox{
        width: 270px;
    }
    .formPassword,
    .formName,
    .formEmail,
    .signUp{
        width: 270px;
    }

    .authSites{
        flex-direction: column;
    }
}

.container{
    position: relative;
}

.slide1{
    height: 100vh;
    width: 100%;
    background-image: url("../../images/Auth/main-bmw.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide2{
    height: 100vh;
    width: 100%;
    background-image: url("../../images/Auth/bmw-slide2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide3{
    height: 100vh;
    width: 100%;
    background-image: url("../../images/Auth/bmw-slide3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide4{
    height: 100vh;
    width: 100%;
    background-image: url("../../images/Auth/bmw-slide4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*7 прака*/

/*.MainAuthInner{*/
/*    background-color: var(--root-color);*/
/*    padding: 50px 0;*/
/*    border-radius: 25px;*/
/*    max-width: 100%;*/
/*    backdrop-filter: blur(10px);*/
/*}*/

/*.authTitle{*/
/*    color: #fff;*/
/*}*/

/*.dopInfo{*/
/*    color: #fff;*/
/*}*/

/*.form{*/
/*    width: calc(100% / 2);*/
/*    background: rgba(255,255,255,0.2);*/
/*    margin: 0 auto;*/
/*    padding: 50px 0;*/
/*    border-radius: 15px;*/
/*    position: relative;*/
/*    transition: all 0.3s linear;*/
/*    z-index: 4;*/
/*}*/


/*.form:hover{*/
/*    transform: scale(1.1);*/
/*}*/
