.disAdvantage{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

.disAdvantageBox{
    border-radius: 24px;
    background: var(--main-red);
    width: 119px;
    padding: 3px 0 2px;
}

.disAdvantageTitle{
    margin-top: 3px;
    font-size: 30px;
    font-weight: 500;
}

.disAdvantagesList{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.disAdvantagesItem{
    display: flex;
    gap: 10px;
}

.disAdvantagesItemDescription{
    max-width: 289px;
}